.pupups {
    position: absolute;
    left: 0;
    top: 10%;
    // width: 50%;
    margin-left: -20px;
}

.popup {
    // height: 28px;
    background-color: #222;
    box-shadow: 0 0 6px black;
    margin-top: 6px;
    padding: 10px 16px 10px 30px;
    border: 2px solid white;
    border-radius: 10px;
    i {
        padding-right: 20px;
        color: lightgreen;
    }
}
