// @import "fonts/material-icons.css";

html, body {
    touch-action: manipulation;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background-color: lightgreen;
    // text-align: center;
    // padding-top:10px;
}

@media (min-width: 900px) {
    #App {
        left: 25%;
        top: 0;
        width: 50%;
    }
}

#elm-app {
    display: -webkit-inline-box;
}

.control_panel {
    position: absolute;
    display: flex;
    top:0;
    left: 0;
    width: 100%;
    height: 32px;
    // background-color: lightblue;
    button {
        -webkit-appearance: none;
        border: none;
        padding: 7px 10px;
    }
    input {
        padding: 7px;
        flex: 1;
    }
}

.main_panel {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    top:32px;
    left: 0;
    width: 100%;
    bottom: 0;
    // background-color: lightgray;
}

ul.device_list {
    // max-width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // margin-left: 0px;
    // margin-right: 50px;
}

li.device {
    border: 1px solid blue;
    padding: 2px;
    margin: 2px;
    // max-width: 200px;

    // grid-template-columns: 100px auto 30px;
    // vertical-align: middle;
    //
    // span:first-child {
    //     text-align: left;
    // }
}

.device-header {
    display: block;
    position: relative;
    margin: 0 0 8px 20px;
    padding: 0 0 4px 0;

    i:first-child {
        position: absolute;
        left: -20px;
    }

    i:last-child {
        position: absolute;
        right: 0;
    }

    border: 0px;
    border-bottom: 1px solid gray;
    // box-shadow: 0px 1px 10px black;

}

.device-body {
    display: grid;
    grid-template-columns: auto;
    text-align: center;

    transition: filter 0.5s ease-in-out;

    // Чит-код, чтобы в хроме не прыгала анимация блюра
    transition-timing-function: steps(10, end);

    &.not_connected {
        pointer-events: none;
        -webkit-filter: blur(20px);
                filter: blur(20px);
        // background-color: blue;
    }

    // div:nth-child(odd) {
    //     text-align: right;
    // }
    // div:nth-child(even) {
    //     text-align: left;
    // }

    .control {
        // -webkit-appearance: none;
        // appearance: none;
        // touch-action: manipulation;
        cursor: pointer;
        display: inline-grid;
        // border: none;
        border: 2px solid black;
        border-radius: 6px;
        padding: 0;
        margin: 2px;
        background-color: #0c7;
        span {
            padding: 30px;
            margin: 2px;
        }
        &:hover {
            // border: 2px solid #ccf;
            // box-shadow: 0px 0px 12px rgba(32,32,32,0.5);
        }
    }

    .action {
        background-color: green;
    }

}



i.material-icons {
    vertical-align: middle;
}

.touch {
    touch-action: manipulation;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
