// @import "fonts/material-icons.css";

html, body { touch-action: manipulation; }

#elm-app {
    display: -webkit-inline-box;
}

.device-header {
    display: block;
    position: relative;
    margin: 0 0 8px 0;
    padding: 0 0 4px 0;

    i:first-child {
        position: absolute;
        left: 0;
    }

    i:last-child {
        position: absolute;
        right: 0;
    }

    border: 0px;
    border-bottom: 1px solid gray;
    // box-shadow: 0px 1px 10px black;

}

.device-body {
    display: grid;
    grid-template-columns: auto auto;

    div:nth-child(odd) {
        text-align: right;
    }
    div:nth-child(even) {
        text-align: left;
    }

    .control {
        // -webkit-appearance: none;
        // appearance: none;
        // touch-action: manipulation;
        cursor: pointer;
        display: inline-grid;
        // border: none;
        border: 1px solid white;
        padding: 0;
        margin: 2px;
        background-color: #cc0;
        span {
            padding: 10px;
            margin: 2px;
        }
        &:hover {
            border: 1px solid black;
        }
    }

    .action {
        background-color: green;
    }

}


ul.device_list {
    // max-width: 200px;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 50px;
}

li.device {
    border: 1px solid blue;
    padding: 2px;
    margin: 2px;
    // max-width: 200px;

    // grid-template-columns: 100px auto 30px;
    // vertical-align: middle;
    //
    // span:first-child {
    //     text-align: left;
    // }

}


i.material-icons {
    vertical-align: middle;
}

.touch {
    touch-action: manipulation;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
